body {
  margin: 0;
}

.header {
  background-color: rgb(2, 2, 78);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  align-items: center;
}

.conntainer-hero {
    height: 400px;
    position: relative;
    overflow: hidden;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) scale(0.7);
  
}

